body {
  background: $color-second;
  color: $color-second;
  font-family: $font-text;
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  color: $color-first;
  font-size: pxtorem(36px);
  padding: 64px 0;
  text-align: center;
}

h2 {
  font-size: pxtorem(32px);
  padding: 16px 0;
}

h3 {
  font-size: pxtorem(24px);
  padding: 8px 0;
  margin: 8px 0;
}

footer {
  font-size: pxtorem(14px);
  padding: 40px 20px;
  a {
    text-decoration: underline;
    &:hover {
      color: $color-first;
    }
  }
}

%list {
  li {
    font-size: pxtorem(16px);
    padding: 8px 0 8px 0;
    line-height: pxtorem(28px);
  }
}

ul {
  @extend %list;
}
ol {
  @extend %list;
  li {
    font-family: $font-item;
  }
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.contact li {
  margin: 10px;
}

$rounded-icon-size: 40px;

.rounded-icon {

  background: $color-first;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  line-height: $rounded-icon-size;
  vertical-align: middle;

  @include circle($rounded-icon-size);
  i {
    line-height: $rounded-icon-size;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

#teaser {

  display: none;
  @include mq(large) {
    display: block;
  }

  position: relative;
  margin-top: 0;
  max-width: 100%;

  height: 450px;
  width: 100%;
  @include bg-img('bg-teaser', '.png');
}

#last-recipes {
  background: $color-first;
  position: absolute;
  bottom: 0;
  right: $spacing-width-page + $spacing-width-recipe;
  top: 0;
  width: $aside-width;
  padding:8px;
  li {
    padding: 16px;
    text-align: center;
    
    img {
      // border-color: 20px solid pink;
      display: block;
      margin: 8px auto;
      @include circle(50px);
    }
    a {
      color: $color-second;
      font-family: $font-item;
      font-size: 20px;
    }
  }
  li + li {
    @include demarcation($color-background, top);
  }
}

.teaser {
  img {
    @include circle(150px);
  }
}

