body {
  background: $color-background;
  color: $color-second;
  font-family: $font-text;
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

h1 {
  font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

footer {
  background: $color-background-annex;
  padding: 40px 20px;
}

ol {
  li {
    font-family: $font-item;
    font-size: 24px;
    p {
      font-family: $font-text;
      font-size: 16px;
    }
  }
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.contact li {
  margin: 10px;
}

$rounded-icon-size: 40px;

.rounded-icon {

  background: $color-first;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  line-height: $rounded-icon-size;
  vertical-align: middle;

  @include circle($rounded-icon-size);
  i {
    line-height: $rounded-icon-size;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

#teaser {
  position: relative;
  margin-top: 0;
  max-width: 100%;
  height: 450px;
  @include bg-img('bg-teaser', '.png');
  h1#blog-title {
    background: $color-background;
    color: $color-second;
    height: 75px;

border-radius: 75px;

    // text-align: right;
    position: absolute;
    bottom: 40px;
    left: 10%;
    right: 0;
    text-align: center;
  }

  #last-recipes {
    background: $color-first;
    position: absolute;
    bottom: 0;
    right: 8px;
    top: 0;
    width: 240px;
    padding:8px;
    li {
      padding: 16px;
      text-align: center;
      
      img {
        // border-color: 20px solid pink;
        display: block;
        margin: auto;
        @include circle(50px);
      }
      a {
        font-family: $font-item;
        font-size: 20px;
      }
    }
    li + li {
      @include hr-top($color-background);
    }
  }
}

.teaser-recipe {
  // float: left;
      img {
      @include circle(150px);
    }
}

.recipe {
  margin-left: 10%;
  header {
    // background: $color-first;
    // border-radius: 150px;
    img {
      // float: left;
    }

  }
  // border-bottom: 4px solid $color-background-annex;
  @include hr($color-background-annex);

  h1 {
    border-bottom: 4px double $color-first;
  }
}


