
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  background: $color-second;
}

#container {
  // background: blue;
  width: 100%;
}

@include mq(medium) {
  #container {
    margin: auto;
    // margin: 40px auto 40px auto;
    // width: 960px;
  }
  aside {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    // width: 200px;
  }
}

@include mq(large) {
  #container {
    width: 1024px;
    // margin-right: 300px;
  }
  aside {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 300px;
  }
}