body {
  background: $color-white;
  font-family: $font-text;
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: $font-title;
}

footer {
  background: green;
  padding: 40px 20px;
}