
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




%page {
  margin: 0 $margin-width-page;
  padding: 24px 0;
}

section, p, div {
  // @extend %page;
}

.recipe {
  @extend %page;
  @include demarcation();
  %spacing-recipe {
    margin: $margin-height-recipe $margin-width-recipe;
    padding: $padding-height-recipe $padding-width-recipe;
  }
  header {
    @extend %spacing-recipe;
    padding: 16px 0;
  }
  article {
    display: flex;
    flex-flow: row;

    .teaser {
      @extend %spacing-recipe;
      flex: 1 auto;
      order: 1;
    }
    .ingredients {
      @extend %spacing-recipe;
      background-color: white;
      border: 1px solid darken($color-background, 10);
      flex: 1 $aside-width;
      order: 3;
      margin-right: $spacing-width-page + $spacing-width-recipe;
    }
    .instructions {
      @extend %spacing-recipe;
      flex-shrink: 50;
      order: 2;
    }
  }
}









aside {
  background: $color-second;
}

#container {
  width: 100%;
  background: $color-background;
}

@include mq(medium) {
  #container {
    margin: auto;
    // margin: 40px auto 40px auto;
    width: 960px;
  }
  aside {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    // width: 200px;
  }
}

@include mq(large) {
  #container {
    width: 1024px;
    // margin-right: 300px;
  }
  aside {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    width: 300px;
  }
}