@mixin mq($size) {
  @if $size == small {
      @media screen and (max-width: $screen-s) { @content; }
  }
  @if $size == medium {
      @media screen and (min-width: $screen-s + 1) { @content; }
  }
  @if $size == large {
      @media screen and (min-width: $screen-m) { @content; }
  }
}

@mixin bg-img($name-img, $extension) {
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* no scale */
  @media (min-resolution: 96dpi) {
    background-image: find-img($name-img, '', $extension);
  }
  /* scaled by 2 */
  @media (min-resolution: 192dpi) {
    background-image: find-img($name-img, '@2x', $extension);
  }
}

@mixin circle($size) {
  border-radius: 50%;
  height: $size;
  width: $size;
}

@mixin hr($color) {
  border-bottom: 4px double $color;
}

@mixin hr-top($color) {
  border-top: 4px double $color;
}